@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-page: #f9f6e8;
  --color-primary: #006400;
  --color-primary-hover: #007a00;
  --color-olive: #6B8E23;
  --color-text-muted: #9ca3af;
  --color-surface: #fafafa;
  --color-input-border: #d1cbb8;
  --color-input-bg: #fffdf7;
  --color-accent-1: #FFE0B2;
  --color-accent-2: #FFF0B3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.7);
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.7);
}

@keyframes jump-pop {
  0% { transform: scale(1) translateY(0) rotate(0deg); }
  50% { transform: scale(1.4) translateY(-15px) rotate(-15deg);}
  100% { transform: scale(1) translateY(0) rotate(0deg); }
}
