@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.7);
}

*::-webkit-scrollbar-thumb {
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.7);
}